---
layout: "layout.njk"
title: "Eventi in programma"
pagination:
  data: collections.eventi
  size: 1000
  alias: event
permalink: "/events/index.html"
---

<h2>{{ title }}</h2>
<ul>
  {% for event in pagination.items | reverse %}
    <li>
      <a href="{{ event.url }}">
        {{ event.data.title }} — {{ event.date | date("DD/MM/YYYY") }}
      </a>
    </li>
  {% endfor %}
</ul>
