---
eleventyExcludeFromCollections: true   # Esclude questo template dai “collections” e dalle pagine di Eleventy
layout: layout
permalink: false                       # Dice a Eleventy: “Non generare un file di output per questo file in autonomia”
---
<article class="event-detail container">
  {% if image %}
    <div class="event-detail__thumb">
      <img src="{{ image | url }}" alt="{{ title }}" />
    </div>
  {% endif %}
  <h1 class="event-detail__title">{{ title }}</h1>
  <time class="event-detail__date" datetime="{{ date }}">
    {{ date | date }}
  </time>
  <div class="event-detail__body">
    {{ content | safe }}
  </div>
</article>
