---
layout: layout
title: Eventi
---

<section class="events-grid container">
  <h2>Eventi disponibili</h2>

  {% for ev in collections.eventi %}
    <article class="card-event">
      <a href="{{ ev.url }}">
        {% if ev.data.image %}
          <div class="card-event__thumb" style="background-image: url('{{ ev.data.image | url }}');"></div>
        {% endif %}
        <div class="card-event__body">
          <h3>{{ ev.data.title }}</h3>
          <time datetime="{{ ev.data.date }}">
            {{ ev.data.date | date }}
          </time>
          <p>{{ ev.data.body | striptags | truncate(100) }}</p>
        </div>
      </a>
    </article>
  {% endfor %}
</section>
