---
layout: layout.njk
title: Eventi
---

<h1>{{ title }}</h1>

<ul>
  {% for event in collections.events %}
    <li>
      <a href="{{ event.url }}">{{ event.data.title }}</a> - {{ event.date | date("dd/MM/yyyy") }}
    </li>
  {% endfor %}
</ul>
